ehforwarderbot==2.1.1
efb-telegram-master[tgs]==2.3.1
efb-wechat-slave-itchat-uos==2.0.8
efb-patch-middleware-itchat-uos==2.0.24
efb-msg-blocker-middleware==1.1.0
efb-notice-middleware==0.0.6
efb-voice-recog-middleware==1.0.3
