ehforwarderbot==2.1.1
efb-telegram-master[tgs]==2.3.1
efb-wechat-slave @ git+https://github.com/zeXtreme/efb-wechat-slave.git
efb-patch-middleware @ git+https://github.com/ehForwarderBot/efb-patch-middleware.git
